@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Register... Login... Rent... Enjoy.</p>
    <p><a href="/Rentals/New" class="btn btn-primary btn-lg">Rent Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Customers</h2>
        <p>
            Our registered customers, whom we value the most.
        </p>
        <p><a class="btn btn-default" href="/customers">Customer List &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Movie library</h2>
        <p>Browse through a huge library of movies and pick one to enjoy.</p>
        <p><a class="btn btn-default" href="/movies">Movie Library &raquo;</a></p>
    </div>
</div>