@model vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var classname = Model.customers.Count > 5 ? "Popular" : null;
}

<h2>@Model.Movie.Name</h2>

@if (Model.customers.Count == 0)
{
    <p>NO One has rented this movie yet.</p>
}
<ul>
    @foreach (var customer in Model.customers)
    {
        <li>@customer.Name</li>
    }
</ul>